In [216]:
import json
import os
import pandas as pd
from difflib import SequenceMatcher
import jellyfish
from geopy.geocoders import Nominatim
geolocator = Nominatim()
from geopy.distance import great_circle

In [217]:
def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()

def similar_jelly(a,b):
    a = a.upper()
    b = b.upper()
    return jellyfish.jaro_distance(a,b)

In [218]:
def multipleReplace(text, wordDict):
    for key in wordDict:
        text = text.replace(key, wordDict[key])
    return text

In [219]:
wordDict = {' los ':' ',' al ':' ',' de ':' ','Estatua de ':'','Monumento a ':'','Restos del ':'','Estatua a ':'','Silo de ':'', 'Puerta de ':'','Estatua':'','Monumento':'', ' a ':' '}

In [220]:
files = os.listdir()

In [221]:
with open('export (2).geojson') as f:
    data = json.load(f)

In [222]:
data['features'][0]

{'geometry': {'coordinates': [-3.7073906, 40.4154017], 'type': 'Point'},
 'id': 'node/48752947',
 'properties': {'@id': 'node/48752947',
  'addr:country': 'ES',
  'artwork_type': 'statue',
  'historic': 'monument',
  'name': 'Estatua ecuestre de Felipe III',
  'name:de': 'Reiterstandbild von Philipp III',
  'name:es': 'Estatua ecuestre de Felipe III',
  'name:it': 'Statua equestre di Felipe III',
  'name:ko': '마요르광장',
  'tourism': 'artwork'},
 'type': 'Feature'}

In [223]:
# Print keys
data['features'][0]['properties'].keys()

dict_keys(['name', '@id', 'historic', 'name:ko', 'name:it', 'addr:country', 'name:es', 'artwork_type', 'tourism', 'name:de'])

In [224]:
ayuntamiento = pd.read_excel('anexo i monumentos (1).xls', skiprows=1, header=None)
ayuntamiento.columns=['COD','TIPO','CALIF','TITULO','LOCALIZACION']
ayuntamiento = ayuntamiento.set_index('COD')

In [225]:
data['features'][94]['properties']['name']

'Estanques del Parterre'

In [226]:
ayuntamiento.loc[ayuntamiento.TITULO=='FELIPE III']

      TIPO CALIF      TITULO LOCALIZACION
COD
8022     1   EXC  FELIPE III   PZA. MAYOR

In [227]:
match = []
for titulo in ayuntamiento.TITULO.values:
    for item in range(len(data['features'])):
        try:
            if similar_jelly(titulo.upper(),multipleReplace(data['features'][item]['properties']['name'], wordDict) )>0.85:
                print('{}:{}-{}'.format(titulo, item,similar_jelly(titulo,multipleReplace(data['features'][item]['properties']['name'], wordDict) )))
        except:
            pass

CALDERON DE LA BARCA:19-0.8530501089324618
CARLOS III:10-0.9696969696969697
CARLOS II:10-0.9393939393939394
CONSTITUCION:5-0.8680555555555555
JAIME I:56-1.0
MIGUEL HIDALGO Y COSTILLA:35-0.8894444444444445
MAESTRO AL:23-0.8583333333333334
MIGUEL HERNANDEZ:37-0.8732843137254903
MIGUEL HERNANDEZ:37-0.8732843137254903
MIGUEL MOYA:86-1.0
CARLOS III:10-0.9696969696969697
ESTANQUES GEMELOS DEL PARTERRE:94-0.8505050505050505
GRUTA DEL LABERINTO:96-1.0
GOYA:20-0.9333333333333332
GOYA:52-0.9333333333333332
GOYA:20-0.9333333333333332
GOYA:52-0.9333333333333332
PUERTA HUERTA DE LA SALUD:14-0.8993939393939394
MIGUEL HERNANDEZ:37-0.8732843137254903
PUERTA DEL ZARZON:64-0.8543417366946778
CABEZA OLMECA:59-1.0
ARBOL LÚDICO:61-0.9444444444444443
ARBOL MEDIÁTICO:60-0.9555555555555556
ISABEL LA CATÓLICA:47-0.8898635477582846

In [230]:
ayuntamiento['OSM'] = None

In [231]:
ayuntamiento.OSM

COD
8001    None
8002    None
8003    None
8004    None
8005    None
8006    None
8007    None
8008    None
8009    None
8010    None
8011    None
8012    None
8013    None
8014    None
8015    None
8016    None
8017    None
8018    None
8019    None
8021    None
8022    None
8023    None
8023    None
8024    None
8025    None
8026    None
8027    None
8028    None
8029    None
8031    None
        ...
9886    None
9887    None
9888    None
9889    None
9891    None
9892    None
9893    None
9894    None
9895    None
9896    None
9897    None
9898    None
9899    None
9900    None
9901    None
9902    None
9903    None
9904    None
9907    None
9908    None
9909    None
9910    None
9911    None
9912    None
9914    None
9917    None
9918    None
9919    None
9920    None
9921    None
Name: OSM, Length: 1733, dtype: object

In [204]:
#Test multiple Replace
multipleReplace(data['features'][83]['properties']['name'], wordDict)

' Andrés Bello'

In [205]:
b = [9, 'house', 7, 6, 5]
a = [1, 'house', 3, 4, 5]

In [206]:
set(a).intersection(b)

{'house', 5}

In [207]:
data['features'][1]['properties']

{'@id': 'node/56179859',
 'addr:country': 'ES',
 'historic': 'monument',
 'name': 'Monumento a José Calvo Sotelo'}

In [208]:
lon,lat = data['features'][56]['geometry']['coordinates']
coor= [lat,lon]

In [209]:
location = geolocator.reverse(coor)

In [210]:
location.raw

{'address': {'city': 'Madrid',
  'city_district': 'Moncloa-Aravaca',
  'country': 'España',
  'country_code': 'es',
  'county': 'Área metropolitana de Madrid y Corredor del Henares',
  'monument': 'Jaime I',
  'postcode': '28008',
  'road': 'Calle de Francisco y Jacinto Alcántara',
  'state': 'Comunidad de Madrid',
  'suburb': 'Parque del Oeste'},
 'boundingbox': ['40.429122', '40.429322', '-3.7240872', '-3.7238872'],
 'display_name': 'Jaime I, Calle de Francisco y Jacinto Alcántara, Parque del Oeste, Moncloa-Aravaca, Madrid, Área metropolitana de Madrid y Corredor del Henares, Comunidad de Madrid, 28008, España',
 'lat': '40.429222',
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. http://www.openstreetmap.org/copyright',
 'lon': '-3.7239872',
 'osm_id': '2601286032',
 'osm_type': 'node',
 'place_id': '27980661'}

In [211]:
def inside(coor, bbox):
    try:
        lat = float(coor[0])
        lon =  float(coor[1])
        bbox_lat0 =  float(bbox[0])
        bbox_lat1 =  float(bbox[1])
        bbox_lon0 =  float(bbox[2])
        bbox_lon1 =  float(bbox[3])
        if lat > bbox_lat0 and lat < bbox_lat1 and lon > bbox_lon0 and lon < bbox_lon1:
            return True
        else:
            return False
    except:
        return "not valid"

In [214]:
def getDistance(x1, x2):
    return great_circle(x1, x2).kilometers*1000.0

In [215]:
x1 = [40.429222, -3.7239872]
x2 = [test.iloc[0].Geo.latitude,test.iloc[0].Geo.longitude]
getDistance(x1, x2)

37.28672579594546

In [188]:
inside([test.iloc[0].Geo.latitude,test.iloc[0].Geo.longitude],location.raw['boundingbox'])

False

In [185]:
ayuntamiento.iloc[482].LOCALIZACION

'FRANCISCO Y JACINTO ALCANTARA'

In [186]:
x = geolocator.geocode(ayuntamiento.iloc[482].LOCALIZACION+',Madrid')

In [187]:
x.point

Point(40.4295405, -3.7238498, 0.0)

In [174]:
test = ayuntamiento[482:500]

In [175]:
test

,TIPO,CALIF,TITULO,LOCALIZACION
COD,,,,
8552,1,NaN,JAIME I,FRANCISCO Y JACINTO ALCANTARA
8553,1,NaN,MARISCAL SANTA CRUZ,"AVDA. SENECA, (PARQUE DEL OESTE)"
8554,1,NaN,MONTALVO JUAN,"Pº. CAMOENS, (PARQUE DEL OESTE)"
8555,1,EXC,ROSALES EDUARDO,Pº. PINTOR ROSALES
8556,1,NaN,SAGRADO CORAZON DE JESUS,"CERRO DE GARABITAS, (CASA DE CAMPO)"
8557,1,NaN,SAN MARTIN JOSE DE,"GTA. GRAL. SAN MARTIN, (PARQUE DEL OESTE)"
8558,1,NOT,SANTA BARBARA V. Y M.,"PUENTE DE SAN FERNANDO, (RIO MANZANARES)"
8559,1,NaN,SOR JUANA INES DE LA CRUZ,JARDIN FERRAZ-TEMPLO DEBOD
8560,1,NaN,VICENTE ALEIXANDRE,GTA. PRESIDENTE GARCIA MORENO
8561,2,NaN,WALT DISNEY,PARQUE ZOOLOGICO
8562,2,NOT,ARENAL CONCEPCION,Pº. MORET - Pº. PINTOR ROSALES (PARQUE DEL OESTE)
8563,2,NaN,CAIDOS DEL CUARTEL DE LA MONTAÑA,"FERRAZ, (PARQUE DE LA MONTAÑA)"
8564,2,NOT,CERVANTES MIGUEL DE,PZA. DE ESPAÑA
8565,2,NaN,VICTIMAS AVIACION MILITAR ESPAÑOLA,ESPLANADA CUARTEL GENERAL DEL AIRE
8566,2,NaN,EL PERRO,"PARQUE ZOOLOGICO, (CASA DE CAMPO)"
8567,2,NaN,ELENA FORTUN,PARQUE DEL OESTE
8568,2,NaN,ESCULTURA PUERTA DE MADRID,"Pº. CAMOENS, (PARQUE DEL OESTE)"
8570,2,NaN,FELIX RODRIGUEZ DE LA FUENTE,"PARQUE ZOOLOGICO, (CASA DE CAMPO)"

In [176]:
test['Geo'] = test.LOCALIZACION

/Users/raimundoabrillopez/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [177]:
test.Geo = test.Geo.apply(lambda x: tryGeo(x))

/Users/raimundoabrillopez/anaconda/lib/python3.5/site-packages/pandas/core/generic.py:3110: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [178]:
def tryGeo(value):
    try:
        return geolocator.geocode(value+',Madrid')
    except:
        return 0

In [179]:
test.Geo

COD
8552    (Calle de Francisco y Jacinto Alcántara, Parqu...
8553                                                 None
8554                                                 None
8555    (Pº Pintor Rosales - Romero Robledo, Paseo del...
8556                                                 None
8557                                                 None
8558                                                 None
8559                                                 None
8560    (Glorieta Presidente García Moreno, Barrio Val...
8561    (Parque Zoológico, Carretera del Zoo, Moncloa-...
8562                                                 None
8563                                                 None
8564    (Plaza de España, Gran Vía, Barrio Universidad...
8565                                                 None
8566                                                 None
8567    (Parque del Oeste, Moncloa-Aravaca, Madrid, Ár...
8568                                                 None
8570                                                 None
Name: Geo, dtype: object

In [180]:
test.Geo.keys()

Int64Index([8552, 8553, 8554, 8555, 8556, 8557, 8558, 8559, 8560, 8561, 8562,
            8563, 8564, 8565, 8566, 8567, 8568, 8570],
           dtype='int64', name='COD')

In [181]:
test.iloc[0].Geo.latitude

40.4295405