# Scripts que devuelve las diferencias entre los ficheros

Importamos

In [23]:
import json
import os
import pandas as pd
from difflib import SequenceMatcher
import jellyfish
from geopy.geocoders import Nominatim
geolocator = Nominatim()
from geopy.distance import great_circle
import folium
from folium.plugins import MarkerCluster
from convertbng.util import convert_bng, convert_lonlat, convert_etrs89_to_lonlat

In [24]:
#Center coordinates
SF_COORDINATES = (40.4168, -3.7038)

# for speed purposes
MAX_RECORDS = 10

In [25]:
def getDistance_meters(x,y):
    try:
        return great_circle(x, y).kilometers*1000.0
    except:
        return 0

In [26]:
os.chdir('/Volumes/MacintoshHD/_GitHub/doctordata/api/data/')

Creamos un data para los datos de OSM

In [27]:
with open('drinking_water.geojson') as f:
    OSM = json.load(f)
f.close()

In [28]:
OSM['features'][0]

{'geometry': {'coordinates': [-3.6957228, 40.413707], 'type': 'Point'},
 'id': 'node/167302670',
 'properties': {'@id': 'node/167302670', 'amenity': 'drinking_water'},
 'type': 'Feature'}

Create searching arrays

In [29]:
ids = [OSM['features'][i]['id'] for i in range(len(OSM['features']))]
lat = [OSM['features'][i]['geometry']['coordinates'][1] for i in range(len(OSM['features']))]
lon = [OSM['features'][i]['geometry']['coordinates'][0] for i in range(len(OSM['features']))]
#name = [OSM['features'][i]['properties']['name'] for i in range(len(OSM['features']))]
ayu = ids[:]

Add ayuntamiento data

In [30]:
AYU = pd.read_csv('InventarioFuentes.csv', encoding='latin-1', delimiter=';',index_col=0)
AYU.columns = [x.upper() for x in AYU.columns.values]
AYU = AYU[AYU.LATITUD != 'Error']
AYU = AYU[AYU.LONGITUD != 'Error']
AYU.LATITUD = AYU.LATITUD.astype('float32')
AYU.LONGITUD = AYU.LONGITUD.astype('float32')
AYU = AYU.sort_values('LATITUD')
AYU['id_OSM'] = pd.Series()
AYU['lat_OSM'] = pd.Series()
AYU['lon_OSM'] = pd.Series()
AYU['coord_OSM'] = pd.Series()
AYU['name_OSM'] = pd.Series()
AYU['score_OSM'] = pd.Series()
AYU['COORD. X'] = AYU['COORD. X'].apply(lambda x: float(x.replace(',','.')))
AYU['COORD. Y'] = AYU['COORD. Y'].apply(lambda x: float(x.replace(',','.')))
AYU['coord'] = list(zip(AYU.LATITUD, AYU.LONGITUD))
AYU.head(2)

,ZONA VERDE / VIA PUBLICA,DISTRITO,DIRECCION,COMPLEMENTO DE DIRECCIÓN,COORD. X,COORD. Y,SISTEMA DE COORDENADAS,ESTADO,OBSERVACIONES,FECHA DATOS,LONGITUD,LATITUD,id_OSM,lat_OSM,lon_OSM,coord_OSM,name_OSM,score_OSM,coord
CODIGO,,,,,,,,,,,,,,,,,,,
FUE_06-17_0000000113,VP,VILLAVERDE,AV. DE LOS ROSALES 407,NaN,443914.6707,4464487.999,ETRS89 / UTM Zona 30N,EN SERVICIO,NaN,3-nov.-17,-3.660224,40.329044,NaN,NaN,NaN,NaN,NaN,NaN,"(40.329, -3.66022)"
FUE_06-17_0000000060,ZV,VILLAVERDE,INST. DEP. COL. MARCONI,NaN,440662.8099,4465018.166,ETRS89 / UTM Zona 30N,EN SERVICIO,NaN,3-nov.-17,-3.698551,40.333595,NaN,NaN,NaN,NaN,NaN,NaN,"(40.3336, -3.69855)"

In [31]:
def get_id(x):
    try:
        for i in range(len(ids)):
            point = [lat[i],lon[i]]
            if getDistance_meters(x,point) <3:
                ayu[i] = x
                return ids[i]
        return 'No match'
    except:
        return 'No match'

def get_close(x):
    try:
        for i in range(len(ids)):
            point = [lat[i],lon[i]]
            if getDistance_meters(x,point) <30:
                ayu[i] = x
                return ids[i]
        return 'No match'
    except:
        return 'No match'
    
def get_lat(x):
    try:
        ind = ids.index(x)
        return lat[ind]
    except:
        return None

def get_lon(x):
    try:
        ind = ids.index(x)
        return lon[ind]
    except:
        return None

def get_name(x):
    try:
        ind = ids.index(x)
        return name[ind]
    except:
        return None

def get_score(x):
    return getDistance_meters([x.lat_OSM, x.lon_OSM],[x.LATITUD, x.LONGITUD])

In [32]:
AYU.id_OSM = AYU.coord.apply(lambda x: get_id(x)) 
AYU_NO = AYU[AYU.id_OSM == 'No match']
AYU_OK = AYU[AYU.id_OSM != 'No match']

In [33]:
AYU.tail(2)

,ZONA VERDE / VIA PUBLICA,DISTRITO,DIRECCION,COMPLEMENTO DE DIRECCIÓN,COORD. X,COORD. Y,SISTEMA DE COORDENADAS,ESTADO,OBSERVACIONES,FECHA DATOS,LONGITUD,LATITUD,id_OSM,lat_OSM,lon_OSM,coord_OSM,name_OSM,score_OSM,coord
CODIGO,,,,,,,,,,,,,,,,,,,
FUE_03-08_0000000120,ZV,FUENCARRAL-EL PARDO,COLONIA MINGORRUBIO 1ª FASE,C/ ALMENAS,433767.8135,4487222.559,ETRS89 / UTM Zona 30N,EN SERVICIO,NaN,3-nov.-17,-3.782030,40.533100,node/4317362969,NaN,NaN,NaN,NaN,NaN,"(40.5331, -3.78203)"
FUE_03-08_0000000121,ZV,FUENCARRAL-EL PARDO,COLONIA MINGORRUBIO 1ª FASE,C/ ESCUADRÓN,433778.9948,4487403.260,ETRS89 / UTM Zona 30N,EN SERVICIO,NaN,3-nov.-17,-3.781917,40.534729,node/4317362970,NaN,NaN,NaN,NaN,NaN,"(40.5347, -3.78192)"

In [34]:
AYU_CLOSE = AYU_NO.copy()
AYU_CLOSE.id_OSM = AYU_NO.coord.apply(lambda x: get_close(x))
AYU_NO = AYU_CLOSE[AYU_CLOSE.id_OSM == 'No match']
AYU_CLOSE = AYU_CLOSE[AYU_CLOSE.id_OSM != 'No match']

In [37]:
AYU = pd.concat([AYU_OK, AYU_CLOSE, AYU_NO])

In [38]:
AYU.lat_OSM = AYU.id_OSM.apply(lambda x: get_lat(x))
AYU.lon_OSM = AYU.id_OSM.apply(lambda x: get_lon(x))
AYU['coord'] = list(zip(AYU.lat_OSM, AYU.lon_OSM))
AYU.score_OSM = AYU.apply(lambda x: get_score(x), axis=1)

AYU_CLOSE.lat_OSM = AYU_CLOSE.id_OSM.apply(lambda x: get_lat(x))
AYU_CLOSE.lon_OSM = AYU_CLOSE.id_OSM.apply(lambda x: get_lon(x))
AYU_CLOSE['coord'] = list(zip(AYU_CLOSE.lat_OSM, AYU_CLOSE.lon_OSM))
AYU_CLOSE.score_OSM = AYU_CLOSE.apply(lambda x: get_score(x), axis=1)

AYU_NO.lat_OSM = AYU_NO.id_OSM.apply(lambda x: get_lat(x))
AYU_NO.lon_OSM = AYU_NO.id_OSM.apply(lambda x: get_lon(x))
AYU_NO['coord'] = list(zip(AYU_NO.lat_OSM, AYU_NO.lon_OSM))
AYU_NO.score_OSM = AYU_NO.apply(lambda x: get_score(x), axis=1)

In [39]:
AYU = AYU.sort_values('score_OSM')
#AYU.name_OSM = AYU.id_OSM.apply(lambda x: get_name(x))

In [49]:
AYU_MISSING = []
for i in range(len(ids)):
    if isinstance(ayu[i], str):
        AYU_MISSING.append((ids[i],lat[i],lon[i]))
        
AYU_MISSING = pd.DataFrame(AYU_MISSING)
AYU_MISSING.columns = ['id_OSM','LATITUD','LONGITUD']

AYU_MISSING = AYU_MISSING.set_index('id_OSM')
AYU_MISSING['coord'] = list(zip(AYU_MISSING.LATITUD.values, AYU_MISSING.LONGITUD.values))

In [41]:
AYU_CLOSE.to_csv('fuentes_close.csv')
AYU_NO.to_csv('fuentes_NO.csv')
AYU_MISSING.to_csv('fuentes_missing.csv')

## Close to edit

In [43]:
map = folium.Map(location=SF_COORDINATES, zoom_start=11)
marker_cluster = MarkerCluster().add_to(map)
for i in range(len(AYU_CLOSE.id_OSM.values)):
    folium.Marker(icon=folium.Icon(color='blue'),popup=folium.Popup(AYU_CLOSE.id_OSM.values[i], parse_html=True),
        location = (AYU_CLOSE.LATITUD.values[i],AYU_CLOSE.LONGITUD.values[i])).add_to(marker_cluster)
map.save('edit.html')

## Missing in OSM

In [44]:
map = folium.Map(location=SF_COORDINATES, zoom_start=11)
marker_cluster = MarkerCluster().add_to(map)
for i in range(len(AYU_NO.id_OSM.values[:100])):
    folium.Marker(icon=folium.Icon(color='blue'),popup=folium.Popup(AYU_NO.index.values[i], parse_html=True),
        location = (AYU_NO.LATITUD.values[i],AYU_NO.LONGITUD.values[i])).add_to(marker_cluster)
map.save('missing_OSM.html')

## Missing in Ayu website

In [45]:
map = folium.Map(location=SF_COORDINATES, zoom_start=11)
marker_cluster = MarkerCluster().add_to(map)
for i in range(len(AYU_MISSING.index.values)):
    folium.Marker(icon=folium.Icon(color='green'),popup=folium.Popup(AYU_MISSING.index.values[i], parse_html=True),
        location = (AYU_MISSING.LATITUD.values[i],AYU_MISSING.LONGITUD.values[i])).add_to(marker_cluster)
map.save('missing_Ayu.html')

In [46]:
mydic = AYU_MISSING.to_dict(orient='index')

In [47]:
mydic.keys()

dict_keys(['node/4062129992', 'node/4330516730', 'node/4332132438', 'node/1440939173', 'node/4340080845', 'node/1916805100', 'node/5017117015', 'node/4330503376', 'node/2624160636', 'node/4332132433', 'node/1992838962', 'node/4332033579', 'node/2960394786', 'node/2946271321', 'node/4332033575', 'node/4332138441', 'node/1802463886', 'node/3150808038', 'node/3035326646', 'node/4523230500', 'node/857157901', 'node/4354434308', 'node/4330510614', 'node/4062129993', 'node/3697360452', 'node/4396225695', 'node/1440939166', 'node/2991168859', 'node/4413513647', 'node/4340080833', 'node/1888592115', 'node/1436712916', 'node/4344517489', 'node/1325487024', 'node/1440939175', 'node/3361315286', 'node/5086461228', 'node/4332033578', 'node/3035326645', 'node/4403559004', 'node/1052390725', 'node/4331338091', 'node/4332033574', 'node/4335288007', 'node/4810100127', 'node/3392966960', 'node/1245970134', 'node/2946159114', 'node/1460364330', 'node/1440939172', 'node/3936936441', 'node/3955088389', 'node/1504407832', 'node/2046863335', 'node/5014664921', 'node/4395887289', 'node/2946208308', 'node/5220262671', 'node/1048614568', 'node/4332033576', 'node/3827482091', 'node/1295884428', 'node/3499620848', 'node/3514716616', 'node/3572732393', 'node/2623339508', 'node/1517405751', 'node/3507232999', 'node/1992836768', 'node/4333068048', 'node/3357697400', 'node/2416331089', 'node/4265348136', 'node/4227924890', 'node/4439535956', 'node/1436712962', 'node/5086437450', 'node/3499620852', 'node/2928478381', 'node/991793741', 'node/5011336547', 'node/1892827827', 'node/1435923179', 'node/4994377362', 'node/3500566148', 'node/4332121748', 'node/3933243487', 'node/4667303285', 'node/4330516734', 'node/4333068049', 'node/3170272294', 'node/4331338109', 'node/2946271316', 'node/1743699840', 'node/4347754197', 'node/3510203950', 'node/2623339506', 'node/1052390687', 'node/4404969182', 'node/5086454364', 'node/5126313627', 'node/4330510653', 'node/4332033577', 'node/4340080832', 'node/3500619801', 'node/4331338099', 'node/4219016930', 'node/5102771713', 'node/3951792357', 'node/4332033581', 'node/1828866774', 'node/4331338107', 'node/2883034889', 'node/3577606786', 'node/2946232759', 'node/2946232761', 'node/4332033572', 'node/1892827824', 'node/1228619939', 'node/2416327918', 'node/3973689277', 'node/3912611669', 'node/559824976', 'node/4470353161', 'node/3055024260', 'node/4340980994', 'node/3429111398', 'node/4427657680', 'node/2371641153', 'node/3657173242', 'node/4395887389', 'node/2946271320', 'node/4403299621', 'node/4332102974', 'node/3579137300', 'node/4065603214', 'node/3055024261', 'node/4663033397', 'node/4376883228', 'node/3497615272', 'node/2910015459', 'node/4332121994', 'node/2416331091', 'node/3497619832', 'node/3697360449', 'node/1954448415', 'node/4330516733', 'node/1802463854', 'node/4333068041', 'node/4907732166', 'node/3510203609', 'node/5087078122', 'node/1435226224', 'node/3981909015', 'node/3778654886', 'node/1464142407', 'node/4810126221', 'node/3697360448', 'node/1247495866', 'node/5161242781', 'node/4347754191', 'node/3005414335'])

In [ ]:
import json
print(json.dumps(mydic, indent=4))